header.navbar
  .container.navbar--container
    .navbar--logo 
      img(src="../images/PLANETA_DOORS.png", alt="Planeta_Doors")
    nav.navbar--nav
      a.navbar--nav__Link(href="") Товары
      a.navbar--nav__Link(href="") Контакты
      a.navbar--nav__Link(href="") О нас
    .navbar--contact +996 (505) 840  840